*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    color: white;
    width: 100%;
    height: 100vw;
    max-width: 750px;
    min-width: 350px;
    background-image: radial-gradient(ellipse at bottom, rgb(9, 9, 32), rgb(5, 2, 26));
    background-size: contain0;
    font-family: 'Spartan', sans-serif;
}

/* ================= HEADER section ===================*/
header{
    margin: 10px;
    margin-bottom: 10em;
    padding-top: 15px;
    text-align: center;
    position: relative;
    height: 30px;
    background-color: none;
    z-index: 2;
}



/* ============ contact form section =========================*/

.form_container {
    display: flex;
    flex-flow: column;
    margin: 100px auto;
    max-width: 414px;
    min-width: 414px;
    max-height: 90vw;
    padding: 25px 15px;
    background: rgb(8, 8, 31);
    box-shadow: 0px 0px 1px black, 0px 0px 1px white;
}

h1 {
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 10px;
    margin-bottom: 20px;
    opacity: 0.8;
}
label {
    font-size: 1rem;
    padding-top: 0.1em;
    min-width: 100px;
}

.formContent {
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;
    background-image: linear-gradient(120deg, rgb(12, 12, 49), rgb(11, 10, 32));
    border-bottom: 1px solid #292727;
    
}


.input-field {
    max-width: 30em;
    min-width: 20em;
    border: none;
    outline: none;
    background: #d7dbda;
    padding: 3px;
    font-size: 12px;
}
.input-field::placeholder {
    color:  #0f1721;
    padding-left: 5px;
}

.input-field:valid {
    background: #78f578c4;
}
.input-field:invalid {
    color: #c74e4ec7;
}

label {
    padding-right: 20px;
    padding-bottom: 10px;
}


.btn {
    position: relative;
    margin: 20px auto 0px;
    display: flex;
    padding: 3px 3px;
    font-size: 14px;
    letter-spacing: 1.5px;
    background:  none;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(6, 16, 36);
    background: #d7dbda;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background: #2dc4c2;
    color: black;
    transform: scale(0.92);
}

.message {
    margin: auto;
    width: 20em;
    margin-right: 0;
    text-align: left;
}

.alert {
    text-align: center;
    padding: 10px;
    background: #79c79c;
    color: #fafafa;
    margin-bottom: 10px;
    display: none;
}
